---
import Layout from '../layouts/Layout.astro';

const stats = {
    "date": "2025-01-24",
    "gameNumber": 1,
    "opponent": "Utah Hockey Club",
    "homeRoadFlag": "H",
    "goals": 0,
    "assists": 0,
    "shotsAgainst": 19,
    "goalsAgainst": 2,
    "savePctg": 0.894737,
    "totalShotsAgainst": 19,
    "totalGoalsAgainst": 2,
    "totalSavePercentage": "0.895"

    // --montreal-red: #af1e2d;
    // --montreal-white: #ffffff;
    // --montreal-blue: #192168;

    // --winnipeg-blue: #041e41;
    // --winnipeg-silver: #8e9090;
    // --winnipeg-red: #ac162c;
    // --winnipeg-white: #ffffff;
    // --winnipeg-darkred: #7b303e;
    // --winnipeg-darksilver: #55565a;
}
---

<!-- Thoughts:
  - use grid for a better mobile look
  -->
  
  
<Layout>
  <div class="wrapper">
    <div class="temptip">
    
      
      <div class="montreal left-team">
        <div>Game #: {stats.gameNumber}</div>
        <div>SV%: {stats.totalSavePercentage}</div>
        <div class="opponent">VS: {stats.opponent}</div>
        <div class="date">Date: {stats.date}</div>
        <div class="shotsAgainst">Shots Against: {stats.shotsAgainst}</div>
        <div class="goalsAgainst">Goals Against: {stats.goalsAgainst}</div>
      </div>
      <div class="winnipeg  right-team">
        <div>Game #: {stats.gameNumber}</div>
        <div>SV%: {stats.totalSavePercentage}</div>
        <div class="opponent">VS: {stats.opponent}</div>
        <div class="date">Date: {stats.date}</div>
        <div class="shotsAgainst">Shots Against: {stats.shotsAgainst}</div>
        <div class="goalsAgainst">Goals Against: {stats.goalsAgainst}</div>
      </div>
    
    </div>
  </div>
</Layout>

<style>
  .temptip {
    width:500px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  
  .winnipeg {
    background-color: var(--winnipeg-blue);
    padding: 30px;
  }
  
  .montreal {
    background-color: var(--montreal-red);
    padding: 30px;
  }

  .left-team {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .right-team {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  body {
    background-color: darkgray;
  }
</style>

<!-- <Layout>
	<section class="upcoming-parent">
    <div class="upcoming-heading">Date/Time</div>
    <div class="upcoming-heading">Event</div>
    <div class="upcoming-date">Sundays 10:30 a.m.</div>
    <div class="upcoming-event">Worship Service</div>
    <div class="upcoming-date">Wednesdays 9:30 a.m.</div>
    <div class="upcoming-event">Men's Bible Study</div>
    <div class="upcoming-date">Mon Feb 10, 1:00 p.m.</div>
    <div class="upcoming-event">Jean Gordon Auxiliary</div>
    <div class="upcoming-date">Wed Feb 26, 3:00 p.m.</div>
    <div class="upcoming-event">Session Meeting</div>
    <div class="upcoming-date">Sunday Mar 9, 10:30 a.m.</div>
    <div class="upcoming-event">Worship / Annual Meeting</div>
    <div class="upcoming-details">Soup & Buns after Worship followed by dive Annual Meeting</div>
    <div class="upcoming-date">Monday Mar 10, 1:00 p.m.</div>
    <div class="upcoming-event">Jean Gordon Auxiliary Meeting</div>
    <div class="upcoming-date">Sunday May 25, 10:30 a.m.</div>
    <div class="upcoming-event">Anniversary Service</div>
    <div class="upcoming-details">Celebrating our 203rd Anniversary</div>
  </section>
</Layout> -->

<style>
  /* Upcoming Events Start */
  .upcoming-parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      gap: 10px;
    }

    .upcoming-details {
      grid-column-start: span 2;
    }

    @media (max-width: 600px) {
      .upcoming-date, .upcoming-event, .upcoming-details {
        grid-column-start: span 2;
      }
      
      .upcoming-heading {
        display: none;
      }
    }
  /* Upcoming Events End */
</style>